body {
    margin: 0;
    font-family: Arial;
    background: #0a0a0a;
    color: #fff;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tabs button {
    flex: 1;
    padding: 10px;
    border: none;
    background: #111;
    color: #fff;
    cursor: pointer;
}

.tabs button.active {
    background: #D4AF37;
    color: #000;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: none;
    background: #111;
    color: #fff;
}

button {
    width: 100%;
    padding: 14px;
    background: #D4AF37;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    background: #111;
    padding: 20px;
    border-radius: 10px;
}

.price {
    font-size: 32px;
    font-weight: 800;
}

.payment {
    margin-top: 10px;
    color: #D4AF37;
}
